body{
    background: #e6bb44;
    
}

@media (min-width: 700px){
    body{
        background: #987c31;
    }
 #root #web-container{
    background: #e6bb44;
    
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:10px
 }
 #root .footer{
     width:70%;
 }
 .article-content .article-pragraph{
    width: 53%;
}
.category-container{
    margin-top:75px;
    margin-bottom:60px;
    min-height: 472px;
    overflow: auto
 
}    
}    