body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav#serverNav{
  margin-bottom: 20px;
  padding-bottom: .53rem;
  
 }
 button,.navbar-toggler{
   margin-top:-5px;
  }
  .addNewArticle{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .visHid{
    margin: 4px;
  }