body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav#serverNav{
  margin-bottom: 20px;
  padding-bottom: .53rem;
 }
 button,.navbar-toggler{
   margin-top:-5px;
  }
  .addNewArticle{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registration{
    padding: 5em 0;
    border-radius: 1em
  }

  .articleList-content{
    max-height: 50px;
    overflow: auto;
  }

  #validation{
    width:90%;
      height: 500px;
    background: rgb(152, 40, 218);
    border: solid 2px blueviolet ;
    border-radius: 15px;
    position: fixed;
    top: 1;
    z-index: 1;
    display: none;
   }