body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav#serverNav{
  margin-bottom: 20px;
  padding-bottom: .53rem;
 }
 button,.navbar-toggler{
   margin-top:-5px;
  }
  .addNewArticle{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registration{
    padding: 5em 0;
    border-radius: 1em
  }

  .articleList-content{
    max-height: 50px;
    overflow: auto;
  }