<form method="post" action="/addArticle">
  <label>Enter Your Name<br>
      <input type="text" name="title" placeholder="Enter title..." required/>
      <input type="text" name="fullContent" placeholder="enter content..." required/>
      <input type="submit" value="Add article">
    </form>