<ul class="nav justify-content-end">
    <a class="nav-link" href="#">Add an Article</a>
</ul>

<form method="post">
    <h4>Title</h4>
    <input type="title" name="title" />
    <br/>
    <h4> Full Content</h4>
    <br/>
    <textarea name="fullContent" id="" cols="30" rows="10">
    </textarea>
    <br/>
    <button type="submit">Send</button>
</form>
 