<form action="/admin/categories/add/categoryPosts" method="post">
    <label>Title</label>
    <input type="text" name="title"><br>
    <label>Description</label>
    <input type="text" name="description">
    <br>
    <label>Short Description</label>
    <input type="text" name="shortDescription">
    <br>
    <input type="submit" value="Submit">
</form>