
<div class="container">
  <div class="row justify-content-md-center">
 ADMIN-Edit-Category

    {{#each category}}
        <div class="card" style="width: 20rem;">
        <div class="card-block">
            <h4 class="card-title">Category:{{this.title}}</h4>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.shortDescription}}</p>   
        <a href="categories/edit/{{this.id}}"><button class="bg-info"> Edit category</button></a>
        </div>
        </div>
{{/each}}
    </div>
        <a href="categories/add"><button class="bg-info"> Add New category</button></a>
</div>

