<form method="post">
        <div class="form-group has-success">

        <h5 class="text-success" >Title:</h5>
        <textarea  class="form-control form-control-success" id="inputSuccess1" name="title"  cols="2" rows="1">
    </textarea>
    <br> 
         <h5 class="text-success" >Short Description:</h5>
     <br>
       <textarea  class="form-control form-control-success" id="inputSuccess1" name="shortDescription" >
    </textarea>
    <br><br>
         <h5 class="text-success" >Description:</h5>
     <br> 
      <textarea  class="form-control form-control-success" id="inputSuccess1" name="description" >
    </textarea>
     <br><br>
    
    <input class="btn btn-success" type="submit" value="Submit">
</form>
 