<form method="post" >
    <div class="form-group has-success">
      <h5 class="text-success" >Title:</h5>
     <textarea  class="form-control form-control-success" id="inputSuccess1" name="title"  cols="2" rows="1">
    </textarea>
    <br/>
     <h5 class="text-success" >Full Content:</h5>
   
    <textarea  class="form-control form-control-success" id="inputSuccess1" name="fullContent" >
    </textarea>
    <br/>
    <button class="btn bg-success"type="submit">New Article</button>
    </div>
</form>
 
 