<form method="post">

<div class="form-group row has-success">
        <label for="example-text-input text-success " class="col-12 col-form-label"><h3 class="text-primary">Title:</h3></label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="title" id="example-text-input">
        </div>

        <label for="example-text-input text-success " class="col-12 col-form-label"><h3 class="text-primary">Order:</h3></label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="number" name="order" id="example-text-input">
        </div>

    </div>
  </div>

  <div class="showTransitionSection">
    <h4 class="text-danger">Show/Hide Title Translation section</h4>
    <button id="showBtn" class="btn btn-success" type="button">+/-</button>
  </div>

  <div id="transitionSection">
    <label class="text-success">
      <h3 class="text-primary">Arabic:</h3>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
      <input class="form-control" type="text" name="ar" id="example-text-input">
    </div>
    <label class="text-success">
      <h3 class="text-primary">Description:</h3>
    </label>
    <textarea rows="8" class="form-control form-control-success mb-4" id="inputSuccess1" name="arabicDescription"></textarea>

    <label class="text-success">
      <h3 class="text-primary">amarigna:</h3>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
      <input class="form-control" type="text" name="am" id="example-text-input">
    </div>
    <label class="text-success">
      <h3 class="text-primary">Description:</h3>
    </label>
    <textarea rows="8" class="form-control form-control-success mb-4" id="inputSuccess1" name="amharngaDescription"></textarea>
  </div>

  <div class="form-group row has-success">
    <label for="example-text-input text-success " class="col-12 col-form-label">
      <h3 class="text-primary">Icon:</h3>
    </label>
    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
      <input class="form-control" type="text" name="icon" id="example-text-input">
    </div>
  </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">Short Description:</h3>
    </label>
    <textarea rows="6" class="form-control form-control-success mb-4" id="inputSuccess1" name="shortDescription"></textarea>
  </div>
  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">Description:</h3>
    </label>
    <textarea rows="14" class="form-control form-control-success mb-4" id="inputSuccess1" name="description"></textarea>
    <input class="btn btn-success btn-lg" type="submit" value="Submit">
  </div>
</form>

<script src="/javascript/addEditCategories.js">

</script>