<div class="container">
  <div class="row justify-content-md-center">

     


    {{#each article}}

        <div class="card" style="width: 20rem;">
        <div class="card-block">
            <h4 class="card-title">article:{{this.title}}</h4>
            <p class="card-text">{{this.fullContent}}</p>
        </div>
        </div>


{{/each}}
    </div>
        <a href="article/add"><button class="bg-info"> Add New article</button></a>

</div>
