<h2>Article: {{this.article.title}}</h2>
<form method="post">  
  <p>Aticle Title</p>
  <input name="title" value={{this.article.title}} />
  <br/>
  <br/>
  <p>Aticle Discreption</p>
  <textarea name="fullContent" rows="4" cols="50">{{this.article.fullContent}}</textarea>
  </br></br>
   <button class="btn bg-danger">Update Aticle</button>
</form>