<h2>Category: {{this.category.title}}</h2>
<form method="post">  
    <input type="radio" name="hideCategory" value="on"> hide<br>
  <input type="radio" name="hideCategory" value="off"> show<br>
  <p>Categoru Title</p>
  <input name="title" value={{this.category.title}} />
  <br/>
  <br/>
  <p>Edit Discreption</p>
  <input name="description" value={{this.category.description}}>
  <input name="shortDescription" value={{this.category.shortDescription}}>
  <button class="btn bg-danger">Edit category</button>
</form>
 
