<form method="post">
    
    <input name="hideCategory" type="checkbox" />Hide
  
  <p>Categoru Title</p>
  <input name="title" value={{this.category.title}} />
  <br/>
  <br/>
  <p>Edit Discreption</p>
  <input name="description" value={{this.category.description}}>
  <input name="shortDescription" value={{this.category.shortDescription}}>


</form>
<br/>
<br/>
<button class="btn bg-danger">Edit category</button>