<form method="post">
    <label>Title</label>
 
    <input type="text" name="title"><br>
    <br> 
    <label>Short Description</label>
     <br>
      <textarea name="shortDescription" cols="30" rows="3"></textarea>
    <br><br>
    <label>Description</label>
     <br> 
    <textarea name="description" cols="50" rows="15"></textarea>
     <br><br>
    
    <input class="bg bg-info" type="submit" value="Submit">
</form>
 