<form method="post" encType="multipart/form-data" >
    <div class="form-group row has-success">
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h3 class="text-primary">Title:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="title" id="example-text-input">
        </div>

        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h3 class="text-primary">Pictuer:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="file" name="articleImage" id="example-text-input">
        </div>

        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h3 class="text-primary">Order:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="number" name="order" id="example-text-input">
        </div>

    </div>

    <div class="form-group has-success">
        <label class="text-success mt-2">
            <h3 class="text-primary">Categories:</h3>
        </label>
        <select name="category" class="form-control mb-4">
            <option value="null" selected>Choose a Category</option>
            {{#each categories}}
            <option value={{this._id}}>{{ this.title }}</option>
            {{/each}}
        </select>

        <div class="form-group has-success">
            <label class="mr-sm-2 text-success" for="inlineFormCustomSelect">
                <h3 class="text-primary">Language</h3>
            </label>
            <select required="true" name="language" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option></option>
                <option value="en">English</option>
                <option value="ar">Arabic</option>
                <option value="am">Amharic</option>
            </select>
        </div>

        <div class="form-group has-success">
            <label class="text-success">
                <h3 class="text-primary">Full Content:</h3>
            </label>
            <textarea rows="14"  class="form-control form-control-success mb-4" id="inputSuccess1" name="fullContent"></textarea>
        </div>

        <input class="btn btn-success btn-lg" type="submit" value="Submit">

</form>