<form method="post" >
    <div class="form-group has-success">
        <h5 class="text-success mt-5" >Title:</h5>
        <input  class="col-lg-4 col-md-8 mb-3" id="inputSuccess1" name="title"/>
         <h5 class="text-success mt-2"> Categories:</h5>
        <select name="category" class="form-control mb-4">
            <option value="null" selected>Choose a Category</option>
            {{#each categories}}
            <option value={{this._id}}>{{ this.title }}</option>
            {{/each}}
        </select>
         <h5 class="text-success">Full Content:</h5>
        <textarea class="form-control mb-4" id="inputSuccess1" name="fullContent"></textarea>
   
         <input class="btn btn-success" type="submit" value="Submit">

    </div>
</form>
 
 