<a class="addNewArticle" href="articles/add">
  <button class="btn mb-3"> Add New article</button>
</a>


<table class="table table-bordered ">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Title</th>
      <th class="text-center">Content</th>
      <th class="text-center">Update</th>

    </tr>
  </thead>
  <tbody class="text-center">
    {{#each articles}}
    <tr>

      <th scope="row" class="align-middle p-4">{{this._id}}</th>
      <td class="align-middle p-4">
        <h4>{{this.title}}</h4>
      </td>
      <td class="align-middle p-4">
        <h4>{{this.fullContent}} </h4>
      </td>
      <td class="align-middle p-4">
        <a href="/admin/articles/edit/{{this._id}}">
          <button class="btn ">Edit</button>
        </a>
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>