<form method="post">
    <div class="form-group row has-success">
        <label for="example-text-input text-success " class="col-12 col-form-label">Title:</label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="title" id="example-text-input">
        </div>
    </div>
    <div class="form-group has-success">
        <label class="text-success mt-2"> Categories:</label>
        <select name="category" class="form-control mb-4">
            <option value="null" selected>Choose a Category</option>
            {{#each categories}}
            <option value={{this._id}}>{{ this.title }}</option>
            {{/each}}
        </select>
    </div>
        <label for="example-text-input text-success " class="col-12 col-form-label">Language:</label>

    <div class="form-check form-check-inline">

        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="language" value="En" checked> English
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="language" value="Tig"> Tigrenya
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="language" value="Ar"> Arabic
        </label>
    </div>


    <div class="form-group has-success">
        <label class="text-success">Full Content:</label>
        <textarea class="form-control form-control-success mb-4" id="inputSuccess1" name="fullContent"></textarea>
    </div>

    <div class="form-group has-success">
        <label class="text-success">Arabic Translate:</label>
        <textarea class="form-control form-control-success mb-4" id="inputSuccess1" name="fullContent"></textarea>
     </div>

    <div class="form-group has-success">
        <label class="text-success">Tigrenya Translate:</label>
        <textarea class="form-control form-control-success mb-4" id="inputSuccess1" name="fullContent"></textarea>
     </div>

        <input class="btn btn-success" type="submit" value="Submit">

</form>

    <button class="btn btn-info" id="batata"> Batatta</button>
