<form method="post">
        <div class="form-group has-success">

        <h5 class="text-success  mt-5" >Title:</h5>
         <input class="col-lg-4 col-md-8 mb-4" name="title" value={{this.article.title}}>

   
    
         <h5 class="text-success" >Short Description:</h5>
   
       <textarea  class="form-control form-control-success mb-4" id="inputSuccess1" name="shortDescription" ></textarea>
 
         <h5 class="text-success" >Description:</h5>
 
      <textarea  class="form-control form-control-success mb-4" id="inputSuccess1" name="description" ></textarea>
 
    
    <input class="btn btn-success" type="submit" value="Submit">
    </div>
</form>
 