<form method="post">
  <p>Edit Title</p>
  <input name="title" value={{this.article.title}} />
  <br/> <br/>
  <p>Edit Discreption</p>
  <input name="fullContent" value={{this.article.fullContent}}>
  <br/><br/>
    <button  class="btn bg-danger" >Edit Article</button>
 </form>