<form method="post">

    <input type="hidden" name="id" value="{{id}}">
    <label>Title</label>
    <input type="text" name="title" value="{{title}}"><br>
    <label>Description</label>
    <input type="text" name="description" value="{{description}}">
    <br>
    <label>Short Description</label>
    <input type="text" name="shortDescription" value="{{shortDescription}}">
    <br>
    <input type="submit" value="Submit">
</form>

