.menu li{
    text-decoration: none;
    list-style: none
}

.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: space-around;
    -webkit-padding-start: 0px;
    min-height:50px 
} 

.menu li:first-child{
    padding-top: 1px;
    margin-left: 0;
}

.menu li{
    width:25%;
     background: #0f352e;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height:60px;
     margin-left:1px;
 }
 .menu a{
     width:100%;
     height: 100%;
     text-align: center;
 }
/********* Category Drop menu ********/
.category-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-top: -10px;
    position: absolute;
    width: 100%;
    top:80px;
    z-index: 1;
    
}
.category-menu-container .category-menu-item{
    height: 75px;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.2em 0;
}
.category-menu-container .category-menu-item{
    background: #0f352e;
    color: #fff;
    width: 25%;
    margin-bottom: 10px;
 }

.category-menu-container  button{
    background: #0f352e;
    border: none;
    color: #ddd;
}
.category-menu-container .category-icon{
    display: flex;
    justify-content: center;
}
.category-menu-container .category-icon img{
    padding: .5em 0;
}
.category-menu-container .icon-title-drop{
    font-size: .9em;
}
.category-menu-container.icon-title-drop
 .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
    bottom: 0;
    background: rgba(230, 187, 68, .5);
    z-index: -1;
}

.category-menu-container.icon-title-drop
.category-menu-item:hover{
     background: #205f55;
 }

