header{
    
    background-image: 
    linear-gradient(
            rgba(3, 2, 2, 0.541), 
            rgba(5, 4, 4, 0.589)
          ),url("../images/pplmakeglasgow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    background-position: right bottom, left top;
    background-size: 100% 600px;
    color:white;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
 