/**************************/
.question-list .question-title,
.ansewer-title{
  font-size: 1.5em
}

.text-center{
  font-size: 1.8em;
}

.question-list input[type="radio"], input[type="checkbox"] {
    transform: scale(1.8);
    margin-left: -2em;
}

.question-list .question-options label{
  font-size: .875em;
  padding-left: 3.5em;
}

.weegie-result{
    padding-bottom:55px;
}

.weegie-result .answer-list{
    line-height: 1.8em;
    list-style: none;
    padding-left: 1.5em;
}

.weegie-result .answer-list li{
    font-size: .875em;
}

.answer-a,
.answer-b,
.answer-c,
.answer-d{
    padding-right: 1em;
}

.question-answer{
    color: green;
    font-size: .9em;
}
.bg-weegie{
    background-color: #0e352f;
    color: #e7bb44;
    font-size: 1.6em;
}
.bg-weegie:hover{
    background-color: #144940;
    color: #e9c25e;
    
}