/**************************/
.weegie-result{
    padding-bottom:55px;
}
.weegie-result .answer-list{
    line-height: 1.8em;
}
.question-title{
  font-size: 1.2em;
}
.question-answer{
    color: green;
    font-size: .9em;
}
.bg-weegie{
    background-color: #0e352f;
    color: #e7bb44;
    font-size: 1.6em;
}
.bg-weegie:hover{
    background-color: #144940;
    color: #e9c25e;
    
}