.category-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-item{
    background: #205f55;
    color: #fff;
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
}
.category-card{
    display: flex;
    flex: .3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 45a2f13a3da2388636b49b36c31b5d5f3c8a96d3
}
.category-icon a img{
    width: 100%;
}
<<<<<<< HEAD

.icon-border{
    height: 0;
    width: 0;
    border-bottom: 11px solid #0f352e;
    border-left: 11px solid #0f352e;
    border-top: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    z-index: 10;
    top: -11px;
    right: -11px;
}
.icon-border-cros{
    height: 0;
    width: 0;
    border-top: 11px solid #e6bb44;
    border-right: 11px solid #e6bb44;
    border-bottom: 11px solid transparent;
    border-left: 11px solid transparent;
    position: absolute;
    z-index: 10;
    top: -11px;
    right: -11px;
}
=======
>>>>>>> 45a2f13a3da2388636b49b36c31b5d5f3c8a96d3
