 
 .category-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60vh;
    margin-top: 3.5em;
    overflow: auto;
    margin-bottom: 4em;
}
a{
    text-decoration: none;
    color: #fff;
}
.category-item{
    background: #205f55;
    color: #fff;
    width: 25%;
    margin: 0 13px 35px 13px;
    padding: 10px;
    text-align: center;

}
.category-item a{
    line-height: 1.3em;
    margin-top: 10px;
    font-size: 1.1em;
 }
.category-card{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.category-icon{
    display: flex;
    justify-content: center;
}
.main-category-item .icon-title{
    font-size: .9em;
}

@media (min-width: 692px){
    .category-item a{
        font-size: 1.4em;
     }
    .category-container{
        margin-top:15px;        
        width:90%;
        margin-left:5%;
     }        
           
}   
.main-category-item .category-icon img{
    width: 100%;
}

.icon-border{
    height: 0;
    width: 0;
    border-bottom: 11px solid #0f352e;
    border-left: 11px solid #0f352e;
    border-top: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    z-index: 0;
    top: -11px;
    right: -11px;
}
.icon-border-cros{
    height: 0;
    width: 0;
    border-top: 11px solid #e6bb44;
    border-right: 11px solid #e6bb44;
    border-bottom: 11px solid transparent;
    border-left: 11px solid transparent;
    position: absolute;
    z-index: 0;
    top: -11px;
    right: -11px;
}
/********* List of Aricles under single Category **********/
.article-content{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1;
    flex: 1 1;
    height: 5em;
    margin-bottom: .5em;
    padding: 0 .5em;
}
.article-content .article-logo{
    width: 30%;
    background: #0f352e;
    display: flex;
    justify-content: center;
}
.article-content .article-logo img{
    align-self: center;
}
.article-content {
    margin-bottom: 15px;
    
}
.article-pragraph h1{
    font-size:1.3em;
    margin: 0;
    font-weight: bold;
    color:#0e362e;

 }
.article-pragraph p{
    color:#0e362e;
}
.article-content .article-pragraph{
    width: 70%;
    padding: 0 .5em;
    line-height: .8em;
    overflow: hidden;
}
.article-content .article-pragraph p{
   line-height: 1.2em;
}
.category-description{
    padding: 0 .5em;
    text-align: justify;
}
.category-header{
    font-size: 1.2em;
    padding: 0 .5em;
    font-weight: bold;
}

#root .single-category{
    padding-bottom: 70px;    
}

 .category a:hover{
    text-decoration: none;
    color:white;

}
.category-title{
    font-size: 0.8em;
    margin-top:5px;
}

@media (max-width: 592px){
    .category-container{
        margin-top:15px;        
        width:90%;
        margin-left:5%;
     }
     .category-container{
        height: 67vh;
        margin-top: 3.5em;
    }        
           
}  
