.category-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: -2;
    position: absolute;
    top: 70px;
}
.category-item{
    background: #205f55;
    color: #fff;
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
}
.category-card{
    display: flex;
    flex: .3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category-icon a img{
    width: 100%;
}