.Single-article{
    padding: 0 .5em 1em .5em;
    line-height: 1.8em;
}
.Single-article h1{
    font-size: 1.8em;
    text-align: center;
    color: #0f352e;
}
.Single-article p{
    background: #2ba790;
    color: #fff;
    padding: .5em;
    border-radius: .4em;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    font-size: 1.3em;
    border:solid rgb(211, 195, 195) 1px;
 }
.Single-article{
    padding-bottom:90px;
    
}

@media (min-width: 592px){
    .Single-article p{
        width: 80%;  
        margin-left: 10%;
        padding: 15px;      
    }        
}    
