.Single-article{
    padding: 0 .5em 1em .5em;
    line-height: 1.8em;
}
.Single-article h1{
    font-size: 1.8em;
    text-align: center;
    color: #0f352e;
}
.Single-article p{
    padding: .5em;
    border-radius: .4em;
    font-size: 1.3em;
    text-align: justify;
  }
.Single-article{
    padding-bottom:90px;
    
}

@media (min-width: 592px){
    .Single-article p{
        width: 80%;  
        margin-left: 10%;
        padding: 15px;      
    }        
}    
