.about-page{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    
}

.about-page img{
    max-height: 240px;
 }

@media (min-width: 592px){
   
.about-page img{
  width:45%;
  max-height: 350px;
  
    } 
    
.about-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:60px;
        }
        
}    