.about-page{
    display: flex;
    justify-content: space-around;
    padding-bottom: 4em;
}

.about-page .refuweege-logo,
.about-page .cyf-logo{
    width: 48%;
    display: flex;
 }

 .about-page .refuweege-logo img,
.about-page .cyf-logo img{
    width: 100%;
    border-radius: 1em;
    align-self: center;
 }

@media (max-width: 592px){
    .about-page{
        flex-direction: column;
        padding: .5em;
    }
    .about-page .refuweege-logo,
    .about-page .cyf-logo{
        width: 100%;
    }    
}    