.about-page{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: .5em;
    
    padding-bottom: 4em;
}
 .about-text{
padding: 10px;
text-align: left;
}

.about-page .refuweege-logo,
.about-page .cyf-logo{
    width: 83%;
    display: flex;
    margin: auto;
 }

 .about-page .refuweege-logo img,
.about-page .cyf-logo img{
    width: 100%;
    border-radius: 1em;
    align-self: center;
 }

@media (min-width: 592px){
    .about-text{
        font-size: 1.5em;
    }
    .about-page{
        flex-direction: row;
        padding: .5em;
    }
    .about-page .refuweege-logo,
    .about-page .cyf-logo{
        width: 100%;
    }    
}    

 